

<%= image_tag @restaurant.image_url %>

<p>
  <strong>Name:</strong>
  <%= @restaurant.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @restaurant.address %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @restaurant.phone %>
</p>

<p>
  <strong>Website:</strong>
  <%= @restaurant.website %>
</p>


    <iframe
      width="450"
      height="250"
      frameborder="0" style="border:0"  
      src="https://www.google.com/maps/embed/v1/search?key=AIzaSyD5Sh20e9ZsUJXUfhw3mnAogz_vn3_P6e4&q=record+stores+in+Seattle">
    </iframe> 
<%= link_to "Write Review", new_restaurant_review_path(@restaurant), class: "btn btn-primary" %>
<%= link_to 'Edit', edit_restaurant_path(@restaurant), class: "btn btn-link"  %> |
<%= link_to 'Back', restaurants_path, class: "btn btn-link"  %>



